[submodule "lib/wrench"]
	path = lib/wrench
	url = git://github.com/dantman/wrench.git
[submodule "lib/rhino"]
	path = lib/rhino
	url = git://github.com/earl/rhino-mirror.git
[submodule "commonjs-tests"]
	path = commonjs-tests
	url = git://github.com/ashb/interoperablejs.git
